*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --yellow-color: hsl(47, 88%, 63%);
    --white-color: hsl(0, 0%, 100%);
    --gray-color: hsl(0, 0%, 42%);
    --dark-gray-color: hsl(0, 0%, 7%);
}

body{
    background-color: var(--yellow-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--dark-gray-color);
}

main{
    background-color: var(--white-color);
    border: 2px solid var(--dark-gray-color);
    max-width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.card__category{
    display: inline;
    background-color: var(--yellow-color);
    width: fit-content;
    padding: 0.4rem 0.8rem;
    font-weight: 800;
}

.card__description{
    color: var(--gray-color);
}

.card__author{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-weight: 800;
}

.author__img{
    width: 40px;
    height: 40px;
}

.attribution{
    position: absolute;
    bottom: 0.5vw;
    font-size: 1vw;
}